{% extends './common_templates/master.html' %}

{% block content %}

{% load static %}


<div class="d-flex flex-column justify-content-center align-items-center mb-3">
    <h1 class="m-3">Stops at {{place}} </h1>

    {% if stops_at_place %}
    <ul>
        {% for stop in stops_at_place %}
        <li>{{ stop }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Currently no scheduled future stops.</p>
    {% endif %}

    <a class="btn btn-primary" href="{% url 'fleet:bus_stop_creation' place_id=place.id %}">
        Request new stop
    </a>

    <img src="{% static '/fleet/svg/bus_stop.svg' %}" width="80%" style="max-width:600px;" alt="Bus stop" />
</div>

{% endblock %}